
.board-container {
  display: flex;
  justify-content: center; 
  align-items: center; /
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 50px;
}



.row {
  display: flex;
}

.cell {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  display: inline-block;
}

.ship {
  background-color: #3498db;
}

.empty {
  background-color: #f2f2f2;
}

.main {
  display: flex ;
  justify-content: center;

}

.app {
  text-align: center;
  padding: 20px;
}


.clicked {
  background-color: rgb(51, 51, 51);
  border: 1px solid rgb(32, 27, 27);
}

.hit {
  background-color: rgb(214, 31, 31);
  border: 1px solid rgb(230, 93, 93); 
}

.clicked {
  background-color: rgb(51, 51, 51);
  border: 1px solid rgb(32, 27, 27);
}



