
.board-container {
  display: flex;
  justify-content: center; 
  align-items: center; /
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 50px;
}



h1 {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: rgb(16, 41, 33);
}

.row {
  display: flex;
}

.cell {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  display: inline-block;
  cursor: pointer;
}

.ship {
  background-color: #3498db;
}

.empty {
  background-color: #f2f2f2;
}

.main {
  display: flex ;
  justify-content: center;

}

.app {
  text-align: center;
  padding: 20px;
}


.clicked {
  background-color: rgb(51, 51, 51);
  border: 1px solid rgb(32, 27, 27);
  pointer-events: none;
}

.hit {
  background-color: rgb(214, 31, 31);
  border: 1px solid rgb(230, 93, 93); 
  pointer-events: none;
}

.reset {
  display:inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color: #FFFFFF;
  background-color:#4eb5f1;
  text-align:center;
  transition: all 0.2s;

}



@media (max-width: 800px) {
  .main {
    flex-direction: column; /* Cambiar a disposición vertical en pantallas pequeñas */
    align-items: center;
  }

  .board {
    margin: 10px 0; /* Reducir el margen horizontal en pantallas pequeñas */
  }

  .cell {
    width: 30px; /* Reducir el tamaño de las celdas en pantallas pequeñas */
    height: 30px;
  }


}